In [4]:
import pandas as pd

df = pd.read_csv('../makeDataset/dataset/knu-ds-dataset.csv', encoding='cp949')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8901 entries, 0 to 8900
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   행정구역(시도)              8901 non-null   object
 1   행정구역(시군구)             8901 non-null   object
 2   연도                    8901 non-null   int64
 3   총인구수(명)               6375 non-null   float64
 4   총인구수증감                8648 non-null   float64
 5   총인구수증감률               8648 non-null   float64
 6   유치원 수                 5688 non-null   object
 7   초등학교 수                5688 non-null   object
 8   실업률                   1920 non-null   float64
 9   거주지내 통근 취업자 (천명)      1920 non-null   float64
 10  거주지외 타지역 통근 취업자 (천명)  1920 non-null   float64
 11  GRDP(단위:백만원)          2696 non-null   object
 12  지가 변동률                3157 non-null   object
 13  여성 취업자(단위:천명)         1659 non-null   object
 14  출생건수                  3425 non-null   object
 15  사망건수                  3456 non-null   object
 16  혼인건수                  3425 non-null   object
 17  이혼건수                  3425 non-null   object
 18  총전입                   2530 non-null   float64
 19  총전출                   2530 non-null   float64
 20  순이동                   2530 non-null   float64
 21  학령인구(명)               3482 non-null   float64
 22  학령인구증감률               3482 non-null   float64
dtypes: float64(11), int64(1), object(11)
memory usage: 1.6+ MB